.type-input{
  width: 100%;
  position: absolute;
  bottom: 0;
}
.MuiFormControl-root
{
  display: inline-block;
  width: 100%;
}
.submit-button{
  border-radius: 0%;
  height: 1.5em;
  margin-left: 5em;
}